/**
* Custom styling required for Planning Inspectorate variant of MOJ multi file upload component
*/

.moj-hidden {
	display: none;
}

.moj-multi-file-upload {
	$root: &;

	&__dropzone {
		outline-color: govuk-colour('blue');
		outline-width: 4px;
		padding: 80px 15px;

		&--dragover {
			background-color: govuk-colour('light-grey');
			color: govuk-colour('black');
			outline-color: govuk-colour('yellow');
		}
	}

	&__delete {
		@extend %govuk-link;
		background-color: transparent;
		border: none;
		color: govuk-colour('blue');
		cursor: pointer;
		font-size: inherit;
	}

	&__list {
		list-style: none;
		padding-left: 0;
	}
}
