.git
.gitignore
.github
.vscode
node_modules
**/node_modules
**/dist
**/coverage
**/.cache
**/*.log
jest-reports
tmp
**/*.test.js
**/*.spec.js
**/jest.config.js
**/jsconfig.json
**/README.md
**/.env
**/.env.*
**/__tests__
packages/business-rules/test
