parameters:
  - name: environment
    displayName: Environment
    type: string
    default: Dev
    values:
      - Dev
      - Test
      - Staging
      - Training
      - Prod

pool: pins-odt-agent-pool

pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2

variables:
  - template: variables/environments/${{ lower(parameters.environment )}}.yml@templates
  - group: pipeline_secrets

jobs:
  - deployment: Seed_DB
    displayName: Seed ${{ parameters.environment }} SQL Database
    environment: ${{ parameters.environment }}
    strategy:
      runOnce:
        deploy:
          steps:
            - download: none
            - checkout: self
            - template: steps/node_script.yml@templates
              parameters:
                nodeVersion: 22
                script: npm ci --ignore-scripts --workspace=@pins/database
            - template: steps/azure_auth.yml@templates
            - bash: |
                if [[ $ENVIRONMENT == "staging"  || $ENVIRONMENT == "training" ]]; then
                    echo "Name: pinskvcommon$(ENVIRONMENT)ukw (env: $(ENVIRONMENT))"
                    echo "##vso[task.setvariable variable=kvName;]pinskvcommon$(ENVIRONMENT)ukw"
                  else
                    echo "Name: pinskvcommon$(ENVIRONMENT)ukw001 (env: $(ENVIRONMENT))"
                    echo "##vso[task.setvariable variable=kvName;]pinskvcommon$(ENVIRONMENT)ukw001"
                fi
              displayName: Set KV name
              env:
                ENVIRONMENT: $(ENVIRONMENT)
            - template: steps/azure_get_secrets.yml@templates
              parameters:
                keyVaultName: $(kvName)
                secrets:
                  - name: appeals-sql-server-connection-string-app
                    variable: SQL_CONNECTION_STRING
            - template: steps/node_script.yml@templates
              parameters:
                condition: in('${{ parameters.environment }}', 'Dev', 'Test', 'Staging')
                environmentVariables:
                  SQL_CONNECTION_STRING: $(SQL_CONNECTION_STRING)
                  BO_DOCUMENTS_ENDPOINT: $(BO_DOCUMENTS_ENDPOINT)
                script: npm run seed
                workingDirectory: $(Build.Repository.LocalPath)/packages/database
            - template: steps/node_script.yml@templates
              parameters:
                condition: in('${{ parameters.environment }}', 'Prod', 'Training')
                environmentVariables:
                  SQL_CONNECTION_STRING: $(SQL_CONNECTION_STRING)
                script: npm run seed:prod
                workingDirectory: $(Build.Repository.LocalPath)/packages/database
    workspace:
      clean: all
