# Convention is that API backends are exposed in the 3000-3999 port range
# and website are exposed in the 9000-9999 port range
#
# Please run `make install` to get the dependencies install

version: "3.7"
services:
  appeals-service-api:
    image: node:14-alpine
    environment:
      LPA_DATA_PATH: /opt/app/data/lpa-list.csv
      LPA_TRIALIST_DATA_PATH: /opt/app/data/lpa-trialists.json
      MONGODB_URL: mongodb://mongodb:27017/appeals-service-api
      SERVER_SHOW_ERRORS: "true"
    ports:
      - 3000:3000
    working_dir: /opt/app
    links:
      - mongodb
    depends_on:
      - appeals-service-api-data
      - mongodb
    volumes:
      - ./common:/opt/app/node_modules/@pins/common # Replace the module to avoid symlink errors
      - ./appeals-service-api:/opt/app
    command: npm run start:dev

  forms-web-app:
    image: node:14-alpine
    environment:
      APPEALS_SERVICE_API_URL: http://appeals-service-api:3000
      SESSION_KEY: some_secure_key_goes_here
      USE_SECURE_SESSION_COOKIES: "false"
    ports:
      - 9000:3000
    working_dir: /opt/app
    links:
      - appeals-service-api
    depends_on:
      - appeals-service-api
    volumes:
      - ./forms-web-app:/opt/app
    command: npm run start:dev

  # Populate the database with data - one instance per service
  appeals-service-api-data:
    build:
      context: ./data
    links:
      - mongodb
    depends_on:
      - mongodb
    volumes:
      - ./data:/opt/app
    environment:
      SOURCE_DIR: appeals-service-api
      MONGODB_URL: mongodb://mongodb:27017/appeals-service-api
    restart: on-failure
    command: npm start

  # Third-party services
  mongodb:
    image: mongo:3.6.0
    ports:
      - 27017:27017
