# Port ranges (by convention):
#  - API: 3000-3999
#  - Services: 4000-4999
#  - Mocks: 5000-5999
#  - Documentation: 7000-7999
#  - Websites: 9000-9999
#
# Please run `make install` to get the dependencies install

version: '3.7'
services:
  appeal-reply-service-api:
    image: node:14-alpine
    environment:
      DOCS_API_PATH: /opt/app/api
      APPEALS_SERVICE_API_URL: http://appeals-service-api:3000
      DOCUMENTS_SERVICE_API_URL: http://document-service-api:3000
      MONGODB_DB_NAME: appeals-reply-service-api
      MONGODB_URL: mongodb://mongodb:27017
      SERVER_SHOW_ERRORS: 'true'
      LOGGER_LEVEL: 'debug'
      SRV_NOTIFY_BASE_URL: http://mock-notify:3000
      SRV_NOTIFY_SERVICE_ID: 'dummy-service-id-for-notify'
      SRV_NOTIFY_API_KEY: 'dummy-api-key-for-notify'
      SRV_NOTIFY_TEMPLATE_ID_APPEAL_REPLY_SUBMISSION_CONFIRMATION: '937b4147-8420-42da-859d-d4a65bdf99bc'
      SRV_NOTIFY_EMAIL_REPLYTO_ID_APPEAL_REPLY_SUBMISSION_CONFIRMATION: 'f1e6c8c5-786e-41ca-9086-10b67f31bc86'
      HORIZON_HAS_PUBLISHER_HOST: rabbitmq
      HORIZON_HAS_PUBLISHER_PASSWORD: admin
      HORIZON_HAS_PUBLISHER_PORT: 5672
      HORIZON_HAS_PUBLISHER_QUEUE: docker_queue
      HORIZON_HAS_PUBLISHER_USERNAME: admin
      SRV_HORIZON_URL: http://mock-horizon:3001
    ports:
      - 3002:3000
    working_dir: /opt/app
    links:
      - appeals-service-api
      - document-service-api
      - mongodb
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common:ro # Replace the module to avoid symlink errors
      - ./packages/appeal-reply-service-api:/opt/app:ro
    command: npm run start:dev

  appeals-service-api:
    image: node:14-alpine
    environment:
      APP_APPEALS_BASE_URL: http://forms-web-app:9003
      APP_LPA_QUESTIONNAIRE_BASE_URL: http://lpa-questionnaire-web-app:9001
      DOCS_API_PATH: /opt/app/api
      DOCUMENTS_SERVICE_API_URL: http://document-service-api:3000
      HORIZON_HAS_PUBLISHER_HOST: rabbitmq
      HORIZON_HAS_PUBLISHER_PASSWORD: admin
      HORIZON_HAS_PUBLISHER_PORT: 5672
      HORIZON_HAS_PUBLISHER_QUEUE: docker_queue
      HORIZON_HAS_PUBLISHER_USERNAME: admin
      LOGGER_LEVEL: 'debug'
      LPA_DATA_PATH: /opt/app/data/lpa-list.csv
      LPA_TRIALIST_DATA_PATH: /opt/app/data/lpa-trialists.json
      MONGODB_AUTO_INDEX: 'true'
      MONGODB_DB_NAME: appeals-service-api
      MONGODB_URL: mongodb://mongodb:27017
      SERVER_SHOW_ERRORS: 'true'
      SRV_HORIZON_URL: http://mock-horizon:3000
      SRV_NOTIFY_BASE_URL: http://mock-notify:3000
      SRV_NOTIFY_SERVICE_ID: 'dummy-service-id-for-notify'
      SRV_NOTIFY_API_KEY: 'dummy-api-key-for-notify'
      SRV_NOTIFY_TEMPLATE_ID: 'dummy-template-id-for-notify'
      SRV_NOTIFY_APPEAL_SUBMISSION_RECEIVED_NOTIFICATION_EMAIL_TO_LPA_TEMPLATE_ID: '79488d5d-7efd-4273-a11f-e73f11d19676'
      SRV_NOTIFY_APPEAL_SUBMISSION_CONFIRMATION_EMAIL_TO_APPELLANT_TEMPLATE_ID: '72f71441-12bf-4455-afbc-c58f9c72bfbd'
      SRV_NOTIFY_START_EMAIL_TO_LPA_TEMPLATE_ID: 'c4701212-4b6a-4b55-801a-c86c7dbea54b'
      SRV_NOTIFY_EMAIL_REPLYTO_ID_START_EMAIL_TO_LPA: '937b4147-8420-42da-859d-d4a65bdf99bc'
      SRV_OS_PLACES_URL: http://mock-os-places:3000
    ports:
      - 3000:3000
    working_dir: /opt/app
    links:
      - document-service-api
      - mock-horizon
      - mock-notify
      - mock-os-places
      - mongodb
      - rabbitmq
    depends_on:
      - appeals-service-api-data
      - document-service-api
      - mock-horizon
      - mock-notify
      - mock-os-places
      - mongodb
      - rabbitmq
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common:ro # Replace the module to avoid symlink errors
      - ./packages/appeals-service-api:/opt/app:ro
    command: npm run start:dev

  document-service-api: &document-service
    image: node:14-alpine
    environment:
      BLOB_STORAGE_CONNECTION_STRING: DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://blob-storage:10000/devstoreaccount1;QueueEndpoint=http://blob-storage:10001/devstoreaccount1;
      STORAGE_CONTAINER_NAME: document-service-uploads
      FILE_MAX_SIZE_IN_BYTES: 15000000
      FILE_UPLOAD_PATH: /tmp/upload
      MONGODB_AUTO_INDEX: 'true'
      MONGODB_URL: mongodb://mongodb:27017/document-service-api
      SERVER_SHOW_ERRORS: 'true'
    ports:
      - 3001:3000
    working_dir: /opt/app
    links:
      - mongodb
      - blob-storage
    depends_on:
      - mongodb
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common
      - ./packages/document-service-api:/opt/app
      - ./tmp/documents-upload:/tmp/upload
    command: npm run start:dev

  forms-web-app:
    image: node:14-alpine
    environment:
      APPEALS_SERVICE_API_URL: http://appeals-service-api:3000
      DOCUMENTS_SERVICE_API_URL: http://document-service-api:3000
      FILE_UPLOAD_DEBUG: 'false'
      FILE_UPLOAD_MAX_FILE_SIZE_BYTES: 15000000
      FILE_UPLOAD_USE_TEMP_FILES: 'true'
      FILE_UPLOAD_TMP_PATH: '/tmp'
      GOOGLE_ANALYTICS_ID: G-TZBWMVPTHV
      SESSION_MONGODB_URL: mongodb://mongodb:27017/lpa-sessions
      SESSION_KEY: some_secure_key_goes_here
      # please override this locally if using not using localhost or ip address to browse the site in dev.
      SUBDOMAIN_OFFSET: 0
      USE_SECURE_SESSION_COOKIES: 'false'
    ports:
      - 9003:3000
      # node debugger
      # - 9229:9229
    working_dir: /opt/app
    links:
      - appeals-service-api
      - document-service-api
      - mongodb
      - clamav
    depends_on:
      - appeals-service-api
      - document-service-api
      - mongodb
      - clamav
    volumes:
      - ./packages/business-rules:/opt/app/node_modules/@pins/business-rules
      - ./packages/common:/opt/app/node_modules/@pins/common
      - ./packages/forms-web-app:/opt/app
    command: npm run start:dev
    # if enabling debug, be sure to uncomment / expose the debug port above.
    # command: npm run start:dev:debug

  lpa-questionnaire-web-app:
    image: node:14-alpine
    environment:
      ALLOW_APPEAL_REPLY_CREATE: "true"
      APPEALS_SERVICE_API_URL: http://appeals-service-api:3000
      APPEAL_REPLY_SERVICE_API_URL: http://appeal-reply-service-api:3000
      DOCUMENTS_SERVICE_API_URL: http://document-service-api:3000
      FILE_UPLOAD_DEBUG: 'false'
      FILE_UPLOAD_MAX_FILE_SIZE_BYTES: 15000000
      FILE_UPLOAD_USE_TEMP_FILES: "true"
      FILE_UPLOAD_TMP_PATH: "/tmp"
      SESSION_MONGODB_URL: mongodb://mongodb:27017/lpa-sessions
      SESSION_KEY: some_secure_key_goes_here
      USE_SECURE_SESSION_COOKIES: 'false'
    ports:
      - 9001:3000
    working_dir: /opt/app
    links:
      - appeals-service-api
      - document-service-api
      - mongodb
    depends_on:
      - appeals-service-api
      - document-service-api
      - mongodb
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common
      - ./packages/lpa-questionnaire-web-app:/opt/app
    command: npm run start:dev

  # This does not work locally with RabbitMQ
  queue-retry:
    image: library/node:14-alpine
    environment:
      HORIZON_HAS_PUBLISHER_HOST: rabbitmq
      HORIZON_HAS_PUBLISHER_PASSWORD: admin
      HORIZON_HAS_PUBLISHER_QUEUES: docker_queue
      HORIZON_HAS_PUBLISHER_USERNAME: admin
    ports:
      - 9002:3000
    working_dir: /opt/app
    links:
      - rabbitmq
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common
      - ./packages/queue-retry:/opt/app
    command: npm run start:dev

  # Populate the database with data - one instance per service
  appeals-service-api-data:
    build:
      context: ./data
    links:
      - mongodb
    depends_on:
      - mongodb
    volumes:
      - ./data:/opt/app
    environment:
      SOURCE_DIR: appeals-service-api
      MONGODB_URL: mongodb://mongodb:27017/appeals-service-api
    restart: on-failure
    command: npm start

  # Mocked services
  mock-horizon:
    # @todo generate from Swagger Docs
    build:
      context: ./mocked-services/horizon
      dockerfile: ../Dockerfile
    ports:
      - 5000:3000

  mock-notify:
    build:
      context: ./mocked-services/notify
      dockerfile: ../Dockerfile
    ports:
      - 5001:3000

  mock-os-places:
    build:
      context: ./mocked-services/os-places
      dockerfile: ../Dockerfile
    ports:
      - 5002:3000

  docs-horizon:
    image: swaggerapi/swagger-ui
    environment:
      SWAGGER_JSON: /app/swagger.yaml
    depends_on:
      - mock-horizon
    volumes:
      - ./docs/swagger/horizon/create_case_openapi.yaml:/app/swagger.yaml
    ports:
      - 7000:8080

  # Third-party services
  blob-storage:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - 4002:10000
      - 4003:10001
    volumes:
      - ./tmp/blob-storage:/data

  mongodb:
    image: mongo:3.6.21
    ports:
      - 4000:27017

  # In prod we use Azure Service Bus which uses AMQP1.0
  rabbitmq:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit default_pass admin default_user admin"
    ports:
      - 4004:5672
      - 4005:15672
    volumes:
      - .rabbitmq_plugins:/etc/rabbitmq/enabled_plugins

  gotenberg:
    image: thecodingmachine/gotenberg:6
    environment:
      DEFAULT_LISTEN_PORT: '4000'
      DISABLE_UNOCONV: '1'
    ports:
      - 4006:4000

  mongoExpress:
    image: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
    depends_on:
      - mongodb
    ports:
      - "5003:8081"

  clamav:
    image: mkodockx/docker-clamav
    ports:
      - 3310:3310

  redis:
    image: "redis:alpine"
    ports:
      - 4007:6379
