{% block head %}
  {% if appealReplyId %}
      <meta name="appeal-reply-id" content="{{ appealReplyId }}">
    {% endif %}
  <link href="/public/stylesheets/main.css" media="all" rel="stylesheet" type="text/css"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script data-cy="Google Analytics" async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId | safe }}" integrity="sha384-cOKpOdtM/dNut8NuGTs1Tmg/++xJ7lDRHGXSyBmbTzTivwJ4JyWIgKxaUurhvN69" crossorigin="anonymous"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ googleAnalyticsId | safe }}');
  </script>

{% endblock head %}
