{% extends "layouts/multi-file-upload.njk" %}

{% block pageTitle %}
  {% if errorSummary.length %}Error: {% endif %}Telling interested parties about the application - Appeal Questionnaire - Appeal a householder planning decision - GOV.UK
{% endblock %}

{% block pageDescription %}
  If applicable, upload the letter/site notice you used to notify interested parties, and a list of their addresses. If you’ve already uploaded this in a previous question, you do not need to upload it again.
{% endblock %}

{% block sectionName %}
  Optional supporting documents
{% endblock %}

{% block pageHeading %}
  Telling interested parties about the application
{% endblock %}
