{% extends "layouts/multi-file-upload.njk" %}

{% block pageTitle %}
  {% if errorSummary.length %}Error: {% endif %}Planning history - Appeal Questionnaire - Appeal a householder planning decision - GOV.UK
{% endblock %}

{% block pageDescription %}
  If applicable, upload the planning history (for example, previous planning permissions) and the documents used when considering the application.
{% endblock %}

{% block sectionName %}
  Optional supporting documents
{% endblock %}

{% block pageHeading %}
  Planning history
{% endblock %}
