{% extends "layouts/multi-file-upload.njk" %}

{% block pageTitle %}
  {% if errorSummary.length %}Error: {% endif %}Site notice or local advertisement - Appeal Questionnaire - Appeal a householder planning decision - GOV.UK
{% endblock %}

{% block pageDescription %}
  If you’ve already uploaded this in a previous question, you do not need to upload it again.
{% endblock %}

{% block sectionName %}
  Optional supporting documents
{% endblock %}

{% block pageHeading %}
  Site notice and/or local advertisement
{% endblock %}
