openapi: 3.0.3
info:
  title: Appeals Service API Documentation
  description:
    API to <ul><li>create, retrieve and modify planning appeals and </li><li>retrieve local planning authorities.</li></ul>
  version: 1.0.3
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
servers:
  - url: 'http://localhost:3000/'
  - url: 'https://dev-appealsserviceapi.azurewebsites.net/'
paths:
  '/api/v1/appeals':
    post:
      summary: Creates a new appeal
      description: A newly created appeal will have a DRAFT state and all subsections will have NOT STARTED state. The id will be a uuid and the returned representation of the new appeal will be valid so it can be submitted as a PUT payload 'as is'.
      tags:
        - Appeals
      responses:
        '201':
          description: Returns a newly created appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
  '/api/v1/appeals/{id}':
    get:
      summary: Returns an existing appeal
      description: The appeal includes the state of all subsections.
      tags:
        - Appeals
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier
      responses:
        '200':
          description: Returns an appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
        '404':
          description: The appeal could not be found
    put:
      summary: Replaces an existing appeal
      description: The provided appeal will replace the existing one if the proposed update complies with all format and business validation rules. Nothing is changed if there are any validation failures and the errors will be listed in the response. The id and sections state fields are required to be passed explicitly in all requests while any omitted fields will have default values substituted so that each field matches their values in a newly created appeal.
      tags:
        - Appeals
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier
      requestBody:
        description: Proposed new state for the appeal.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appeal'
        required: true
      responses:
        '200':
          description: Returns the updated appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
        '400':
          description: Returns a collection of errors generated by the invalid input
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 400
                  errors:
                    type: array
                    items:
                      type: string
                      example: 'requiredDocumentsSection.originalApplication.uploadedFile.id must be a valid UUID'
        '404':
          description: The appeal could not be found
        '409':
          description: Returns a collection of errors generated by the input that cannot be processed due to the existing state conflict
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 409
                  errors:
                    type: array
                    items:
                      type: string
                      example: 'Cannot update appeal that is already SUBMITTED'
    patch:
      summary: Modifies an existing appeal
      description: The provided appeal will update the existing one if the proposed update complies with all format and business validation rules. Nothing is changed if there are any validation failures and the errors will be listed in the response. No field is mandatory and no change will be made to the field not present in the request.
      tags:
        - Appeals
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier
      requestBody:
        description: Proposed new state for the appeal.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appeal'
        required: true
      responses:
        '200':
          description: Returns the updated appeal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
        '400':
          description: Returns a collection of errors generated by the invalid input
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 400
                  errors:
                    type: array
                    items:
                      type: string
                      example: 'requiredDocumentsSection.originalApplication.uploadedFile.id must be a valid UUID'
        '404':
          description: The appeal could not be found
        '409':
          description: Returns a collection of errors generated by the input that cannot be processed due to the existing state conflict
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 409
                  errors:
                    type: array
                    items:
                      type: string
                      example: 'The provided id in path must be the same as the appeal id in the request body'
  '/api/v1/local-planning-authorities':
    get:
      summary: Returns all local planning authorties
      description: The collection of local planning authorities includes name and unique identification code for each authority.
      tags:
        - Local Planning Authorities
      responses:
        '200':
          description: Returns all local planning authorities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalPlanningAuthority'
  '/api/v1/local-planning-authorities/{id}':
    get:
      summary: Returns a local planning authoritiy
      description: The local planning authority includes name and unique identification code.
      tags:
        - Local Planning Authorities
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: 'E60000281'
          description: Local planning authority unique identification code
      responses:
        '200':
          description: Returns a local planning authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalPlanningAuthority'
        '404':
          description: The local authority could not be found
components:
  schemas:
    AboutYouSection:
      type: object
      properties:
        yourDetails:
          $ref: '#/components/schemas/YourDetails'
      description: Section that includes information about the applicant and who they may repesent
    Appeal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        horizonId:
          type: string
        lpaCode:
          type: string
          example: 'E60000281'
          maxLength: 20
        decisionDate:
          type: string
          format: date
          example: '2020-10-29T12:00:00.000Z'
          description: 'The date the original application was decided in ISO format'
        createdAt:
          type: string
          format: date
          example: '2020-10-29T12:00:00.000Z'
          description: 'The creation date of the appeal was decided in ISO format'
        updatedAt:
          type: string
          format: date
          example: '2020-10-30T13:32:58.000Z'
          description: 'The last appeal update date was decided in ISO format'
        submissionDate:
          type: string
          format: date
          example: '2020-10-29T12:00:00.000Z'
          description: 'The date the appeal was submitted from forms-web-app'
        state:
          $ref: '#/components/schemas/AppealState'
        aboutYouSection:
          $ref: '#/components/schemas/AboutYouSection'
        requiredDocumentsSection:
          $ref: '#/components/schemas/RequiredDocumentsSection'
        yourAppealSection:
          $ref: '#/components/schemas/YourAppealSection'
        appealSiteSection:
          $ref: '#/components/schemas/AppealSiteSection'
        sectionStates:
          $ref: '#/components/schemas/SectionStates'
        eligibility:
          $ref: '#/components/schemas/Eligibility'
        appealSubmission:
          $ref: '#/components/schemas/AppealSubmission'
      description: All of the data and state information for an appeal
    AppealSiteSection:
      type: object
      properties:
        siteAddress:
          $ref: '#/components/schemas/SiteAddress'
        siteOwnership:
          $ref: '#/components/schemas/SiteOwnership'
        siteAccess:
          $ref: '#/components/schemas/SiteAccess'
        healthAndSafety:
          $ref: '#/components/schemas/HealthAndSafety'
      description: Section that includes information about the appeal site address, access, ownership and any health and safety issues
    AppealState:
      type: string
      enum:
        - 'DRAFT'
        - 'SUBMITTED'
    AppealStatement:
      type: object
      properties:
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        hasSensitiveInformation:
          type: boolean
    AppealPDFStatement:
      type: object
      properties:
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
    AppealSubmission:
      type: object
      properties:
        appealPDFStatement:
          $ref: '#/components/schemas/AppealPDFStatement'
      description: Submitted appeal PDF statement to Horizon
    ApplicationNumber:
      type: string
      example: "S/35552"
      maxLength: 30
    DecisionLetter:
      type: object
      properties:
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
    Eligibility:
      type: object
      properties:
        enforcementNotice:
          type: boolean
        householderPlanningPermission:
          type: boolean
        isClaimingCosts:
          type: boolean
        isListedBuilding:
          type: boolean
    HealthAndSafety:
      type: object
      properties:
        hasIssues:
          type: boolean
        healthAndSafetyIssues:
          type: string
          maxLength: 255
          example: 'There is a big dog in the field'
    LocalPlanningAuthority:
      type: object
      properties:
        id:
          type: string
          example: 'E60000281'
        name:
          type: string
          example: 'Adur LPA'
        inTrial:
          type: boolean
        email:
          type: string
          nullable: true
          example: 'example@domain.gov.uk'
        domain:
          type: string
          nullable: true
          example: 'domain.gov.uk'
        england:
          type: boolean
        wales:
          type: boolean
          example: false
        horizonId:
          type: string
          nullable: true
          example: Y3805
    OtherDocuments:
      type: object
      properties:
        documents:
          type: array
          items:
            type: object
            properties:
              uploadedFile:
                $ref: '#/components/schemas/UploadedFile'
    OriginalApplication:
      type: object
      properties:
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
    RequiredDocumentsSection:
      type: object
      properties:
        applicationNumber:
          $ref: '#/components/schemas/ApplicationNumber'
        originalApplication:
          $ref: '#/components/schemas/OriginalApplication'
        decisionLetter:
          $ref: '#/components/schemas/DecisionLetter'
      description: Section that includes required documents and reference number relating to original apllication
    SectionState:
      type: string
      enum:
        - 'NOT STARTED'
        - 'IN PROGRESS'
        - 'COMPLETED'
      description: Each subsection begins as NOT STARTED and can progress to IN PROGRESS and COMPLETED
    SectionStates:
      type: object
      properties:
        aboutYouSection:
          properties:
            yourDetails:
              $ref: '#/components/schemas/SectionState'
        requiredDocumentsSection:
          properties:
            applicationNumber:
              $ref: '#/components/schemas/SectionState'
            originalApplication:
              $ref: '#/components/schemas/SectionState'
            decisionLetter:
              $ref: '#/components/schemas/SectionState'
        yourAppealSection:
          properties:
            appealStatement:
              $ref: '#/components/schemas/SectionState'
            otherDocuments:
              $ref: '#/components/schemas/SectionState'
        appealSiteSection:
          properties:
            siteAccess:
              $ref: '#/components/schemas/SectionState'
            siteOwnership:
              $ref: '#/components/schemas/SectionState'
            healthAndSafety:
              $ref: '#/components/schemas/SectionState'
      description: This includes the state of each subsection to track completion progress
    SiteAccess:
      type: object
      properties:
        canInspectorSeeWholeSiteFromPublicRoad:
          type: boolean
        howIsSiteAccessRestricted:
          type: string
          maxLength: 255
    SiteAddress:
      type: object
      properties:
        addressLine1:
          type: string
          maxLength: 60
        addressLine2:
          type: string
          maxLength: 60
        town:
          type: string
          maxLength: 60
        county:
          type: string
          maxLength: 60
        postcode:
          type: string
          maxLength: 8
    SiteOwnership:
      type: object
      properties:
        ownsWholeSite:
          type: boolean
        haveOtherOwnersBeenTold:
          type: boolean
    UploadedFile:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          example: 'my_uploaded_file.pdf'
        id:
          type: string
          format: uuid
      description: The name may not uniquely identify the uploaded file but the id will
    YourAppealSection:
      type: object
      properties:
        appealStatement:
          $ref: '#/components/schemas/AppealStatement'
        otherDocuments:
          $ref: '#/components/schemas/OtherDocuments'
      description: Section that includes grounds for the appeal, supporting documents and references to any related appeals
    YourDetails:
      type: object
      properties:
        isOriginalApplicant:
          type: boolean
          example: true
        name:
          type: string
          maxLength: 80
          example: "Ms Alison Khan"
        email:
          type: string
          format: email
          maxLength: 255
          example: "akhan123@email.com"
        appealingOnBehalfOf:
          type: string
          maxLength: 80
          example: "Mr Josh Evans"
      description: Your Details Subsection
