# User Role
#
# Users are limited in what they can do. They are able to
# have read access to most things, but have no access to secrets
# (except listing).
#
# This is designed to be given to anyone who is a developer on the
# application. For the most part, this will enable them to read logs
# and make sure that things have deployed correctly.
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: user-access
  namespace: $RBAC_NAMESPACE
rules:
  - apiGroups:
      - ""
    resources:
      - jobs
      - pods
      - pods/log
      - services
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - pods/portforward
    verbs:
      - create
      - get
      - list
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: user-group
  namespace: $RBAC_NAMESPACE
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: user-access
subjects:
  - kind: Group
    namespace: $RBAC_NAMESPACE
    name: $GROUP_USER_ID

