/* Part Navigation */
.part-navigation-container {
  border-bottom: solid 1px #b1b4b6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.gem-c-contents-list {
  margin: 0 0 20px;
}

.gem-c-contents-list__title {
  color: #0b0c0c;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.gem-c-contents-list__list,
.gem-c-contents-list__nested-list {
  color: #0b0c0c;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.gem-c-contents-list__list-item--dashed {
  line-height: 1.3;
  list-style-type: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7.5px;
  position: relative;
}

.gem-c-contents-list__list-item--dashed::before {
  content: "—";
  position: absolute;
  left: 0px;
  width: 20px;
  overflow: hidden;
}

/* Pagination */
.gem-c-pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gem-c-pagination__item:first-child {
  margin-bottom: 20px;
}

.gem-c-pagination__link {
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
}

.gem-c-pagination__link-title {
    display: block;
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
}
.gem-c-pagination__link-icon {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    display: inline-block;
    margin-bottom: 1px;
    height: .482em;
    width: .63em;
    fill: #626a6e;
}
.gem-c-pagination__link-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 1.3157894737;
    margin-left: 10px;
}

.gem-c-pagination__link:hover {
  background-color: #f3f2f1;
}

.gem-c-pagination__link:hover, .gem-c-pagination__link:active, .gem-c-pagination__link:visited {
  color: #1d70b8;
}

.gem-c-pagination__link-label {
    display: block;
    margin-top: .1em;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 30px;
}
