@import '../../node_modules/govuk-frontend/dist/govuk/all';
@import '../../node_modules/accessible-autocomplete/src/autocomplete';
@import '../../node_modules/@ministryofjustice/frontend/moj/components/task-list/task-list';
@import '../../node_modules/@ministryofjustice/frontend/moj/components/multi-file-upload/multi-file-upload';
@import '../views/components/multi-file-upload/multi-file-upload-error-styling';
@import '../views/components/multi-file-upload/multi-file-upload-pins-variant-styling';
@import 'file-upload';
@import 'save-return';
@import 'summary-list';
@import 'timeline';
@import 'pins-overides';
@import 'appeal-headlines';
@import 'appeal-decision';
@import 'questionnaire-details';
@import 'expand-collapse-comments';
@import 'pdf-generation';
@import 'loading-spinner';

a {
	@extend .govuk-link;
}
