@import 'node_modules/govuk-frontend/govuk/all';
@import 'node_modules/accessible-autocomplete/src/autocomplete';
@import 'node_modules/@ministryofjustice/frontend/moj/components/task-list/task-list';
@import 'node_modules/@ministryofjustice/frontend/moj/components/multi-file-upload/multi-file-upload';
@import '../views/components/multi-file-upload/multi-file-upload-error-styling';
@import 'file-upload';
@import 'guidance-pages';
@import 'save-return';
@import 'summary-list';
@import 'timeline';

a {
  @extend .govuk-link;
}
