$pins-teal: #28a197;

.pins-layout-header {
	border-bottom-color: $pins-teal;
	padding-top: 5px;
}

.pins-header__logo {
	white-space: nowrap;
	width: auto;
	margin-bottom: 5px;

	.govuk-header__logotype-text {
		font-size: 24px;
	}

	@include govuk-media-query($until: tablet) {
		.govuk-header__logotype-crown {
			width: 46px;
			height: 46px;
			padding: 4px 0 5px 0;
		}
	}

	@include govuk-media-query($from: tablet) {
		.govuk-header__link {
			line-height: 40px;
		}
	}
}

.pins-header__content {
	width: auto;

	@include govuk-media-query($from: desktop) {
		float: right;
	}
}

.pins-header__product-name {
	position: absolute;
	top: 37px;
	left: 53px;

	@include govuk-media-query($from: tablet) {
		position: initial;
		display: inline-block;

		&:before {
			display: inline-block;
			content: '';
			background-color: #fff;
			width: 1px;
			height: 25px;
			position: relative;
			top: 5px;
			left: 0;
			margin-right: 10px;
		}
	}
}

.pins-border-top-big {
	border-top: 5px solid $pins-teal;
}

.govuk-footer__copyright-logo {
	background-image: url("/public/images/govuk-crest.svg");
}

.govuk-header__logotype-crown {
	display: inline-block;
	height: 40px;
	width: 40px;
}

.pins-header__logotype-crown {
	display: inherit;
	background-image: url("/public/images/govuk-crest-white.svg");
	background-size: 100% 95%;
	width: inherit;
	height: inherit;
	background-position: center center;
	background-repeat: no-repeat;
}
