.pins-sidebar,
.pins-return-sidebar,
.pins-reference-code-panel {
	background-color: #f3f2f1;
	border-top: solid 5px $govuk-brand-colour;
	margin-top: 110px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.pins-sidebar {
	margin-top: 35px;
}

.pins-reference-code-panel {
	margin-bottom: 50px;
	margin-top: 0;
}
