videos/
screenshots/
cucumber-json/
cucumber-report/
cypress/fixtures/appeal-statement-invalid-too-big.png
cypress/fixtures/appeal-statement-valid-max-size.png
cypress/fixtures/upload-file-invalid-too-big.png
cypress/fixtures/upload-file-valid-max-size.png

