{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "jest", "prettier"],
  "extends": ["airbnb-typescript/base", "prettier", "prettier/@typescript-eslint"],
  "root": true,
  "ignorePatterns": ["node_modules/**", "dist/**"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "jest": true
  }
}
