{% extends "layouts/main.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your appeal statement</h1>
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo dui ut purus pulvinar sodales sit amet ut nisi. Aenean luctus et dui quis sollicitudin.</p>
  </div>
</div>

{% endblock %}
