{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb-typescript/base", "prettier", "prettier/@typescript-eslint"],
  "root": true,
  "rules": {
    "quotes": ["error", "single"]
  }
}
