apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}-pdf-service-api
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.pdfServiceApi.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /metrics
        prometheus.io/port: {{ .Values.pdfServiceApi.config.port | quote }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "app.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.pdfServiceApi.image.repository }}:{{ .Values.pdfServiceApi.image.tag }}"
          imagePullPolicy: {{ .Values.pdfServiceApi.image.pullPolicy }}
          ports:
            - name: {{ .Values.pdfServiceApi.service.name }}
              containerPort: {{ .Values.pdfServiceApi.config.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.pdfServiceApi.service.name }}
            initialDelaySeconds: 30
            periodSeconds: 5
            failureThreshold: 30
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.pdfServiceApi.service.name }}
            initialDelaySeconds: 30
            periodSeconds: 5
            failureThreshold: 30
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: GOTENBERG_URL
              value: "http://{{ include "app.fullname" . }}:{{ .Values.gotenberg.service.port }}"
            - name: LOGGER_LEVEL
              value: {{ .Values.pdfServiceApi.config.logLevel }}
            - name: SERVER_PORT
              value: {{ .Values.pdfServiceApi.config.port | quote }}
            - name: SERVER_TERMINATION_GRACE_PERIOD_SECONDS
              value: {{ 10 | quote }} # Same as "periodSeconds" for readinessProbe
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
