name: Cypress

env:
  CYPRESS_VIDEOS: ./e2e-tests/cypress/videos
  CYPRESS_SCREENSHOTS: ./e2e-tests/cypress/screenshots
  CYPRESS_REPORTS: ./e2e-tests/cypress/cucumber-report

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - develop

jobs:
  gherkin_lint:
    name: "gherkin_lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install gherkin_lint
        run: sudo gem install gherkin_lint

      - name: lint feature files
        run: gherkin_lint -f 'e2e-tests/cypress/integration/**/*.feature'
  cypress-ACP:
    name: "Cypress- ACP mode"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install the world
        run: make install

      - name: Start the world with ACP integration
        run: |
          export SERVER_LIMITED_ROUTING_ENABLED=true
          docker-compose up -d
      - name: Run the tests with ACP integration
        run: npm run test:e2e:acp

      - name: Post-process results with ACP integration
        if: ${{ always() }}
        run: npm run test:e2e:postprocess

      - name: Archive results with ACP integration
        if: ${{ always() }}
        uses: actions/upload-artifact@main
        with:
          name: results-acp
          path: ${{ env.CYPRESS_REPORTS }}

      - name: Archive videos (on failure) with ACP integration
        if: ${{ failure() }}
        uses: actions/upload-artifact@main
        with:
          name: videos-acp
          path: ${{ env.CYPRESS_VIDEOS }}

      - name: Archive screenshots (on failure) with ACP integration
        if: ${{ failure() }}
        uses: actions/upload-artifact@main
        with:
          name: screenshots-acp
          path: ${{ env.CYPRESS_SCREENSHOTS }}

  cypress-default:
    name: "Cypress- default"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install the world
        run: make install

      - name: Start the world without ACP integration i.e. PINS
        run: |
          export SERVER_LIMITED_ROUTING_ENABLED=false
          docker-compose up -d
      - name: Run the tests without ACP integration
        run: npm run test:e2e

      - name: Post-process results without ACP integration
        if: ${{ always() }}
        run: npm run test:e2e:postprocess

      - name: Archive results without ACP integration
        if: ${{ always() }}
        uses: actions/upload-artifact@main
        with:
          name: results-pins
          path: ${{ env.CYPRESS_REPORTS }}

      - name: Archive videos (on failure) without ACP integration
        if: ${{ failure() }}
        uses: actions/upload-artifact@main
        with:
          name: videos-pins
          path: ${{ env.CYPRESS_VIDEOS }}

      - name: Archive screenshots (on failure) without ACP integration
        if: ${{ failure() }}
        uses: actions/upload-artifact@main
        with:
          name: screenshots-pins
          path: ${{ env.CYPRESS_SCREENSHOTS }}
