name: Environment Infrastructure

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - infrastructure/clusters/**/*
      - infrastructure/environments/**/*
      - infrastructure/k8s/**/*
      - infrastructure/modules/**/*
      - infrastructure/scripts/**/*

defaults:
  run:
    working-directory: infrastructure/environments

env:
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  KUBECONFIG: ./kubeconfig
  TERRAFORM_COMMON_WORKSPACE: default
  TF_CLI_ARGS: -no-color
  TF_INPUT: false
  TF_IN_AUTOMATION: 1

jobs:
  provision:
    runs-on: ubuntu-latest
    if: ${{ !contains(toJSON(github.event.commits.*.message), '[ci skip]') }}
    strategy:
      max-parallel: 1
      matrix:
        include:
          - branch: refs/heads/master
            environment: preprod
            mongodb_backup_interval: 240
            mongodb_backup_retention: 8
    steps:
      - uses: actions/checkout@v2
        if: github.ref == matrix.branch
        with:
          persist-credentials: false

      - name: Azure Login
        if: github.ref == matrix.branch
        uses: azure/login@v1
        with:
          creds: |
            {
              "clientId": "${{ secrets.ARM_CLIENT_ID }}",
              "clientSecret": "${{ secrets.ARM_CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.ARM_SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.ARM_TENANT_ID }}"
            }

      - name: Setup Terraform
        if: github.ref == matrix.branch
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14.0
          terraform_wrapper: false

      - name: Get Terraform Common config
        if: github.ref == matrix.branch
        id: tf_common
        working-directory: infrastructure/common
        run: |
          terraform init
          terraform workspace select "$TERRAFORM_COMMON_WORKSPACE"

          echo "::set-output name=container_registry_name::$(terraform output -json containers_name | jq -r .)"
          echo "::set-output name=containers_server::$(terraform output -json containers_server | jq -r .)"
          echo "::set-output name=container_registry_rg_name::$(terraform output -json containers_rg_name | jq -r .)"
          echo "::set-output name=containers_username::$(terraform output -json containers_username | jq -r .)"
          echo "::set-output name=containers_password::$(terraform output -json containers_password | jq -r .)"

      - name: "Terraform environment: ${{ matrix.environment }}"
        if: github.ref == matrix.branch
        run: echo ${{ matrix.environment }}

      - name: Terraform Init
        if: github.ref == matrix.branch
        run: |
          terraform init
          terraform workspace new "${{ matrix.environment }}" || true
          terraform workspace select "${{ matrix.environment }}"

      - name: Get Terraform variables
        if: github.ref == matrix.branch
        id: vars
        run: |
          VARS_FILE="../clusters/${{ matrix.environment }}.tfvars"

          # Don't fail if file doesn't exist
          touch ${VARS_FILE}

          # Output variables
          cat ${VARS_FILE}

          echo "::set-output name=tfvars::$VARS_FILE"

      - name: Terraform Plan
        if: github.ref == matrix.branch
        run: terraform plan
          -var container_registry_name="${{ steps.tf_common.outputs.container_registry_name }}"
          -var container_registry_rg_name="${{ steps.tf_common.outputs.container_registry_rg_name }}"
          -var-file="${{ steps.vars.outputs.tfvars }}"
          -var="monitoring_alert_emails=${{ secrets.ALERTS_EMAILS }}"
          -out tfplan

      - name: Unlock resources
        if: github.ref == matrix.branch
        run: bash ../scripts/lockResourceGroups.sh
          unlock
          "$(terraform workspace show)"
          "$(terraform output -json app-name | jq -r .)"

      - name: Terraform Apply
        if: github.ref == matrix.branch
        run: terraform apply tfplan

      - name: Lock resources
        if: github.ref == matrix.branch && always()
        run: bash ../scripts/lockResourceGroups.sh
          lock
          "$(terraform workspace show)"
          "$(terraform output -json app-name | jq -r .)"

      - name: Get terraform output
        if: github.ref == matrix.branch
        id: tf_output
        run: |
          terraform output -json kubeconfig | jq -r . > "../../$KUBECONFIG"

          echo "::set-output name=cluster_lb_ip_address::$(terraform output -json kube_load_balancer_ip | jq -r .)"
          echo "::set-output name=cluster_lb_ip_name::$(terraform output -json kube_load_balancer_domain_label | jq -r .)"
          echo "::set-output name=cluster_lb_ip_rg::$(terraform output -json kube_load_balancer_rg | jq -r .)"
          echo "::set-output name=key_vault_name::$(terraform output -json key_vault_name | jq -r .)"

          echo "::set-output name=group_admin_id::$(terraform output -json group_admin_id | jq -r .)"
          echo "::set-output name=group_user_id::$(terraform output -json group_user_id | jq -r .)"

          key_vault_secrets=$(terraform output -json key_vault_secrets | jq -r .)
          echo "::add-mask::$key_vault_secrets"
          echo "::set-output name=key_vault_secrets::$(terraform output -json key_vault_secrets | jq -r . | base64 -w 0)"

          echo "::set-output name=mongodb_id::$(terraform output -json mongodb_id | jq -r .)"

      - name: Update Key Vault secrets
        if: github.ref == matrix.branch
        uses: azure/CLI@v1
        env:
          KEY_VAULT_NAME: ${{ steps.tf_output.outputs.key_vault_name }}
          KEY_VAULT_SECRETS: ${{ steps.tf_output.outputs.key_vault_secrets }}
        with:
          inlineScript: |
            az account show
            bash $GITHUB_WORKSPACE/infrastructure/scripts/updateKeyVaultSecrets.sh

      - name: Set MongoDB Backup Policy
        if: github.ref == matrix.branch
        uses: azure/CLI@v1
        env:
          KEY_VAULT_NAME: ${{ steps.tf_output.outputs.key_vault_name }}
          KEY_VAULT_SECRETS: ${{ steps.tf_output.outputs.key_vault_secrets }}
        with:
          inlineScript: |
            az account show
            az cosmosdb update \
              --id ${{ steps.tf_output.outputs.mongodb_id }} \
              --backup-interval ${{ matrix.mongodb_backup_interval }} \
              --backup-retention ${{ matrix.mongodb_backup_retention }}

      - name: Configure Kubernetes instance
        if: github.ref == matrix.branch
        uses: ./.github/actions/kubectl-helm
        env:
          CLUSTER: ${{ matrix.environment }}
          CLUSTER_LB_IP_ADDRESS: ${{ steps.tf_output.outputs.cluster_lb_ip_address }}
          CLUSTER_LB_IP_NAME: ${{ steps.tf_output.outputs.cluster_lb_ip_name }}
          CLUSTER_LB_IP_RG: ${{ steps.tf_output.outputs.cluster_lb_ip_rg }}
          DEPLOY_NAMESPACE: app-${{ matrix.environment }}
          DOCKER_PASSWORD: ${{ steps.tf_common.outputs.containers_password }}
          DOCKER_SERVER: ${{ steps.tf_common.outputs.containers_server }}
          DOCKER_USERNAME: ${{ steps.tf_common.outputs.containers_username }}
          EMAIL_ADDRESS: ${{ secrets.DEVOPS_EMAIL_ADDRESS }}
          GROUP_ADMIN_ID: ${{ steps.tf_output.outputs.group_admin_id }}
          GROUP_USER_ID: ${{ steps.tf_output.outputs.group_user_id }}
          RELEASE_BRANCH: master
          REPO_API_URL: https://api.github.com
          REPO_DOMAIN: github.com
          REPO_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
          REPO_URL: ${{ github.repository }}
        with:
          cmd: bash ./infrastructure/k8s/setup.sh
